:root {
    --dark-background-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --cta-bg-color: #3882F6;
    --information-header-color: #1F2937;
    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

.button {
    padding: 10px 20px;
    background-color: var(--cta-bg-color);
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

header, section, footer {
    padding: 0 12rem;
}

header, #introduction, footer {
    background-color: var(--dark-background-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 12rem;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

li a {
    color: var(--hero-secondary-text-color);
    text-decoration: none;
}

#introduction {
    padding: 6rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--hero-main-text-color);
    font-size: 48px;
    font-weight: 900;
}

.hero-content p {
    margin-top: 10px;
    font-size: 18px;
    color: var(--hero-secondary-text-color);
}

.hero-content {
    flex-basis: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

