:root {
    --dark-background-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --cta-bg-color: #3882F6;
    --information-header-color: #1F2937;
    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

.button {
    padding: 10px 20px;
    background-color: var(--cta-bg-color);
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

header, section, footer {
    padding: 0 12rem;
}

header {
    background-color: var(--dark-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 12rem;
}



header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

li a {
    color: var(--hero-secondary-text-color);
    text-decoration: none;
}