:root {
    --dark-background-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --cta-bg-color: #3882F6;
    --information-header-color: #1F2937;
    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

.button {
    padding: 10px 20px;
    background-color: var(--cta-bg-color);
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

header, section, footer {
    padding: 0 12rem;
}

header, #introduction, footer {
    background-color: var(--dark-background-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 12rem;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

li a {
    color: var(--hero-secondary-text-color);
    text-decoration: none;
}

#introduction {
    padding: 6rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--hero-main-text-color);
    font-size: 48px;
    font-weight: 900;
}

.hero-content p {
    margin-top: 10px;
    font-size: 18px;
    color: var(--hero-secondary-text-color);
}

.hero-content {
    flex-basis: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#mob-vote-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 12rem;
}

#mob-vote-info a {
    text-decoration: none;
}

#mob-vote-info h2 {
    font-size: 36px;
    color: var(--information-header-color);
    font-weight: 900;
    margin: 6rem 0;
}

.vote-options {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap: 3rem;
}

.mob-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mob-option img {
    border: solid 0.25rem #3882F6;
    border-radius: 16px;
}

.mob-option p {
    font-size: 18px;
    color: var(--information-header-color);
    max-width: 250px;
}

#quote-section {
    background-color: var(--quote-section-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    max-width: 60rem;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
}

.quote-content p {
    font-size: 36px;
    font-weight: 300;
    color: var(--quote-text-color);
}

.author {
    align-self: flex-end;
}