root {
    --dark-background-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --cta-bg-color: #3882F6;
    --information-header-color: #1F2937;
    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

body {
    font-family: Roboto, sans-serif;
}

.button {
    padding: 10px 20px;
    background-color: var(--cta-bg-color);
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

